@custom-media --max-media-big-desktop (max-width: 1920px);
@custom-media --max-media-desktop (max-width: 1280px);
@custom-media --max-media-laptop (max-width: 960px);
@custom-media --max-media-mobile (max-width: 770px);
@custom-media --max-media-small-mobile (max-width: 560px);
